
.section2 {
    background-color: #f4f4f4; 
    text-align: center; 
    padding: 60px 20px;
  }
  
  
  .section2-title {
    font-size: 3rem;
    color: #000000; 
    margin-bottom: 50px; 
    font-family: 'Roboto', sans-serif; 
  }
  
  
  .section2-customers {
    display: flex; 
    justify-content: center; 
    gap: 80px; 
  }
  
  
  
  
