.section7 {
    padding: 40px;
    text-align: center; 
    background-color:#ebebeb;
  }
  
  .section7-title {
    font-size: 2rem;
    color: #000000;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  
  .image img {
    width: 400px; /* Increase or decrease the size as needed */
    height: auto;
    margin-bottom: 75px;
  }
  